body {
    max-width: 1080px;
}

header {
    width: 100%;
    height: 20%;
    }

.header {
    background-color: #A3A9AC;
    color: #4D1979;
    display: flex;
    align-items: center;
}

.navbar-custom .navbar-nav .nav-link {
    color: #4D1979;
    background-color: #A3A9AC;
}

.navbar-custom .nav-item.active .nav-link {
    background-color: white;
}

.navitems {
    width: 70%;
}

.hofwb {
    width: 30%;
    /* align-self: flex-end; */
    text-align: right;
    vertical-align: middle;
    font-weight: normal;
    font-size: larger;
    padding: 8px 16px 8px 16px;
}

#article {
    width: 100%;
    min-height: 100%;
}

footer {
    width: 100%;
    height: 20%;
}

.footer {
    background-color: #A3A9AC;
    color: #4D1979;
    padding: 8px 16px 8px 16px;
    /* position: relative;
    bottom: 0; */
    width: 100%;
    max-width: 1080px;
    border-collapse: collapse;
}
