.heading {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.image {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

img {
    width: 400px;
}